${H}${H}
${H}${H} @tool    ${APPNAME}
${H}${H} @company ${UTIL_FROM_COMPANY}
${H}${H} @date    ${DATE}
${H}${H} @brief   App shortcut
${H}${H}
[Desktop Entry]
Comment=${APPDESCRIPTION}
Exec=/data/apps/bin/${APPNAME}
Icon=/data/apps/icons/${APPNAME}.png
Name=${APPNAME}
NoDisplay=false
Path=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
